@import url('https://fonts.googleapis.com/css3?family=spartan:wght@100;200;300;400;500;600;700;800;900;$display=swap');
 /* home  */

body{
    color: #000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #eaf6eb;
}
h1{
    margin: 50px auto 0 auto;
    font-family: cursive;
    font-size: 4em;
    color:  #66BFBF;
    line-height: 2;
}

h2{
    font-family:  Helvetica;
    font-size: 2.4rem;
    color:  #66BFBF;
    padding: 10px;
}
h3{
    font-family:  sans-serif;
    color: #11999E;
}
hr{
    border: dotted #39c7c7 6px;
    border-bottom: none;
    width: 10%;
    margin: 100px auto;
}
a{
   color:11999E;
   font-family: fantasy;
   margin: 10px 20px;
   text-decoration: none;
 }
 a:hover{
     color: #EAF6F6;
 }
.bottom-cloud{
    position: absolute;
    bottom: 300px;
    left: 300px;
}
.top-cloud{
    position:  absolute;
    right: 300px;
    top: 50px;
}
.top-container{
    background-color: #eaf6eb;
    position: relative;
    padding-top: 100px;
}
.pro{
    text-decoration: underline;
    
}
.middle-container{
    margin: 100px 0 100px;

}
.bottom-container{
  background-color: #6EBFBF;  
  padding: 50px 0 20px;

}
.profile{
    margin-top: 50px;
}
.program{
    font-weight: normal;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.computer-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.motive-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.btn {
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #000000;
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    padding: 12px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 23px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    padding-top: 20px;
 }
 
 .btn:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
.intro{
    width: 30%;
    margin: auto;
}
.contact-me{
    width: 40%;
    margin: 40px auto 60px;
}
.copyright{
    color: #EAF6F6;
    font-size: 0.7rem;
    padding: 20x 0;
}


